.fade-in {
  animation: fadeInAnimation 1.5s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  padding-top: 80px;
  padding-bottom: 25px;
}
